<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'main.html' %}

{% block content %}
<h1>OtiumActio</h1>
<h2>Ett latiskt ord för Fritidsaktivitet.</h2>
<h4>Ett nätverk för gemensamma aktiviteter. Skapa din egen, om det inte finns en här!</h4>
<div>
    <div>
        <h2>kommande aktiviteter...</h2>
        <hr>
    </div>
    <div>

    </div>
    <div>
        {% for activity in acitivities %}
        <div>
        <a href="{% url 'update-activity' activity.id %}"> Redigera </a>
        <a href="{% url 'delete-activity' activity.id %}"> Radera bort</a>

            <h5><a href="{% url 'activity' activity.id %}"> {{activity.name }}</a></h5>
            <spin>Kategori: @{{activity.category.name}}</spin>
            <p>..............................................</p>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}
</body>
</html>